streamlit
google-generativeai
python-dotenv
langchain
langchain_google_genai
llama-index>=0.9.31 
pinecone-client>=3.0.0 
regex
llama-index-llms-gemini
IPython
llama-index-embeddings-gemini
llama-index-vector-stores-pinecone
-e .